<div class="container mt-3 text-center  " *ngIf="!ingresoUsuario" style="max-width: 500px;">
    <form #form="ngForm" (submit)="ingreso(form)">
        <div class="form-group col">
            <label>Ingrese su nombre</label>
            <input type="text" class="form-control" [(ngModel)]="usuario1" name="usuario1" required #user1="ngModel">
            <small *ngIf="user1.invalid && user1.touched" id="emailHelp" class="form-text text-danger">Nombre Requerido</small>
        </div>
        <div class="form-group col">
            <label>Ingrese nombre de contacto</label>
            <input type="text" class="form-control" [(ngModel)]="usuario2" name="usuario2" required #user2="ngModel">
            <small *ngIf="user2.invalid && user2.touched" id="emailHelp" class="form-text text-danger">Contacto Requerido</small>
            <button type="submit"  class="btn btn-primary mt-2">Iniciar Chat</button>
            <small *ngIf="usuario1.toLowerCase() == usuario2.toLowerCase() && form.submitted && user1.touched" id="emailHelp" class="form-text text-danger">Usuarios no pueden ser iguales</small>
        </div>
        
    </form>

</div>

<div class="card text-center overflow-auto m-auto" *ngIf="ingresoUsuario" style="min-width:300px;max-width: 500px;">
    <div class="card-header text-left" >
        {{mensaje.username2}} {{escribiendo}}
        <button class="btn btn-danger float-right" (click)="desconectar()">Desconectar</button>
    </div>
    <div class="card-body" style="overflow-y:auto; height: 400px" id="message">

        <!-- <span class="d-block px-2 my-4" style="font-size: 20px;max-width: 300px;border-radius: 10px;"
            [ngClass]="[mensajeServer.username1==mensaje.username1?'badge-success float-right':'badge-warning float-left']">
            {{mensajeServer.texto}}
        </span> -->
        <div *ngFor="let mensajeServer of mensajes"
            [ngClass]="[mensajeServer.username1==mensaje.username1?'text-right':'text-left']">
            <span class="badge" 
                [ngClass]="[mensajeServer.username1==mensaje.username1?'badge-success':'badge-warning ']" value="usuario1">
                {{mensajeServer.username1==mensaje.username1?mensaje.username1:mensaje.username2}}
            </span>
            <p >{{mensajeServer.texto}}</p>
        </div>




    </div>
    <div class="card-footer text-muted">
        <form>
        <input type="text" [(ngModel)]="mensaje.texto" name="texto" (keyup)="estaEscribiendo()">
        <button class="btn btn-primary mx-3" (click)="enviarMensaje()">Enviar Mensaje</button>
        </form>
    </div>
</div>